.addQ_background{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 70px);
    padding: 20px 0 10px 0 ;
    background-color: rgba(245, 220, 172, 0.838);
    position: relative;
}
.addQ_preview{
    display: none;
}
.addQ_title{
    width: 85%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
}
.addQ_title_input{
    width: inherit;
    min-height: 50px;
    margin: 10px 5px 5px 5px;
    padding: 0 24px;
    font-size: 30px;
    background-color: #f3e8e8;
    word-wrap: break-word;
    word-break: break-all;
    border: none;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1)
}
.addQ_intr_input{
    width: inherit;
    height: 25px;
    margin: 10px 5px 5px 5px;
    padding: 0 24px;
    word-wrap: break-word;
    word-break: break-all;
    border: none;
}
.addQ_addpreset_btn{
    height: 35px;
    width: 35px;
    background-color: rgba(103, 67, 37, 0.989);
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../picture/add_white.png");
    border-radius: 17.25px;
    position: relative;
    position: fixed;
    top:225.5px;
    right:3%;
    cursor: pointer;
}
.addQ_preset_container{
    width: 85%;
    margin: 10px 0 0 0;
    border-radius: 8px;
}
.addQ_main{
    background-color: #ffffff;
    margin: 15px 0;
    padding: 10px 0;
}
.addQ_preset{
    display: flex;
    justify-content: space-between;
}
.addQ_preset_title{
    margin: 9px;
}
.addQ_preset_title_label{
    display: block;
    width: calc(100% - 154px);
    min-width: 150px;
    min-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.addQ_preset_select{
    margin: 10px;
    height: 30px;
    width: 100px
}
.addQ_preset_ans_text{
    width: calc(100% - 34px);
    margin: 0 10px 10px 10px;
    padding: 5px;
    resize:none;
}
.addQ_preset_ans_select{
    min-width: 150px;
    height: 40px;
    margin: 10px;
}
.addQ_radio,.addQ_checkbox{
    display: flex;
}
.addQ_radio_del_btn{
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../picture/radio_del.png");
}
.addQ_del_btn{
    height: 25px;
    width: 25px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../picture/trashcan_del.png");
    cursor: pointer;
}
.addQ_creatQ_btn{
    width: 100px;
    height: 40px;
    margin: 20px;
    background-color: rgb(255, 127, 127);
    cursor: pointer;
}


