html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.nav{
    width: auto;
    display: flex;
    background-color: #fdb86d
}
.logo{
    width: 300px;
    height: 70px;
    margin: 0 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../picture/collectown.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    mix-blend-mode: multiply;
    cursor: pointer;
}
.space{
    flex: 1;
}
.loginBar,.signUpBar{
    width: 80px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBar:hover,.signUpBar:hover{
    cursor: pointer;
    font-size: 25px;
    font-weight: 650;
}
.login_background{
    display:grid;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.login{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.logTop{
    width: 100%;
    height: 35px;
    background-color: #fdb86d;
    border-radius: 10px 10px 0 0;
}
.closeBar{
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("../picture/close.png");
    background-position: center;
    position: relative;
    right: -90%;
    top: 5px;
    cursor: pointer;
}
.logtitle{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}
.logInput{
    width: 80%;
    height: 25px;
    margin: 15px 0 15px 0 ;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    background-color: rgb(231, 242, 253);
}
.changeLogSign{
    text-align: center;
    margin: 30px 0 10px 0;
}
.changetext{
    color: rgb(31, 81, 243);
    cursor: pointer;
}
.changetext:hover{
    font-weight: 700;
}

@media screen and (max-width:600px) {
    .logo{
        width: 1500%;
        height: 50px;
    }
    .logo_a{
        width: 12px;
    }
}
